extends ./layout/master.pug

block title
	title= title

block content
	p= error

	h4= project.projectName

	form(method='post')
		input(type='hidden' name='_csrf' value=csrfToken)

		input(type='text' name='name' value=project.projectName)

		input(type='submit' name='rename')

	ul
		each member in project.Members
			li
				span= member.username

				if member.username != user.username
					span  | 
					a(href='remove/' + project.id + '/' + member.id) Remove

	form(method='post')
		input(type='hidden' name='_csrf' value=csrfToken)

		input(type='submit' value='Delete' name='delete')